.buttonMenus {
  width: 1.5rem;
  display: grid;
  place-content: center;
  cursor: pointer;
  position: relative;
  z-index: 50;
}
.icon {
  width: 100%;
  fill: var(--color_primary);
}

@media (min-width: 768px) {
  .content {
    display: none;
  }
}
