---
import Logo from "./Logo.astro";
import { Menus } from "./menu/Menu";
import NavMobile from "./nav/NavMobile.astro";
---

<header>
  <section>
    <Logo />
    <Menus client:load />
  </section>
  <NavMobile />
</header>

<style>
  header {
    padding: 2rem;
    position: relative;

    section {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
</style>
