---
import Li from "./LiteralsNav.astro";
import Gender from "../icons/Gender.astro";

// js and ts
import { linksApi } from "../../../../lib/data/DataLinks";
import { type Root } from "../../../../lib/data/DataMovie";

const urlgenres = `${linksApi.base}/genre/movie/list${linksApi.key}&language=es-MX`;
let getGenres: Root;
let listGenres: string[] = [];

try {
  const response = await fetch(urlgenres);
  const data = await response.json();
  getGenres = data;
  listGenres = getGenres.genres.map((element) => element.name) || [];
} catch (error) {
  console.error(error);
}
---

<Li word="géneros" iconArrow={true}>
  <Gender slot="icon" />

  <div class="sublist-container" slot="subList">
    <ul class="subList">
      {
        listGenres.map((el): string => (
          <li>
            <a href="#">{el}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Li>

<style>
  .sublist-container {
    width: 100%;
    height: 0;
    padding-block: 0;
    background-color: #00000050;
    transition:
      height 300ms,
      padding-block 300ms;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color_primary) #00000020;
  }

  .sublist-container.active {
    height: 200px;
    padding-block: 1rem;
  }
</style>
