.li-principal {
  .name-literal {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      padding: 0.5rem 1rem;
      text-transform: capitalize;
      transition: background-color 300ms;

      figure {
        width: 1.5rem;
        height: auto;
        display: grid;
        place-content: center;
      }

      &:hover {
        background-color: #ffffff10;
      }

      .box-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        transition: background-color 300ms;
      }
    }

    a:hover .box-left {
      background-color: var(--color_primary);
    }
  }
}
