.sublist {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;

  button {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    transition: background-color 300ms;
    cursor: pointer;
    font-size: medium;

    figure {
      width: 1.5rem;
      height: auto;
      display: grid;
      place-content: center;
    }

    .figure-arrow {
      width: 1rem;
    }

    &:hover {
      background-color: #ffffff10;
    }

    .box-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      transition: background-color 300ms;
    }

    &:hover .box-left {
      background-color: var(--color_primary);
    }
  }

  /* sublista del nav (todos los generes) */
  .subList {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
    width: 80%;
    margin: 0 auto;
    list-style: none;

    li {
      a {
        display: block;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        transition: background-color 300ms;

        &:hover {
          background-color: #00000080;
        }
      }
    }
  }
}
