---
interface Props {
  titleSec: string;
}

const { titleSec } = Astro.props;

// import
import ButtonHeader from "./buttons/ButtonHeader.astro";
---

<header class="header-section">
  <h2>{titleSec}</h2>
  <ButtonHeader />
</header>

<style>
  header.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    h2 {
      text-transform: capitalize;
      font-weight: 500;
    }
  }
</style>
