---
interface Props {
  titleSec: string;
}

const { titleSec } = Astro.props;

// imports
import HeaderSection from "../header/HeaderSection.astro";
---

<section>
  <HeaderSection titleSec={titleSec} />
  <div class="container-cards">
    <slot />
  </div>
</section>

<style>
  section {
    padding-inline: 1rem;

    .container-cards {
      padding-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 0.8rem;
      /* grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); */
    }
  }
</style>
