---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import SectionPopulars from "../components/specific/SectionPopulars.astro";
import SectionTrending from "../components/specific/SectionTrending.astro";
import SectionUpComing from "../components/specific/SectionUpComing.astro";
import FoundMovie from "../components/header/FoundMovie.astro";
---

<Layout title="TMDB - Lo mejor de las peliculas aquí">
  <div class="max-content">
    <Header />
    <main class="main-container">
      <FoundMovie />
      <SectionPopulars />
      <SectionTrending />
      <SectionUpComing />
    </main>
    <Footer />
  </div>
</Layout>

<style>
  .max-content {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }
  .main-container {
    /* padding: 1rem 0; */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
  }
</style>
