---
import { SearchMovie } from "./searchMovie/Searchmovie";
import NavList from "./NavList.astro";
---

<div class="nav-mobile-container close">
  <SearchMovie />
  <NavList />
</div>

<style>
  .nav-mobile-container {
    /* background-color: var(--color_bg_nav); */
    background-color: #001c42e0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 3.5rem;
    z-index: 40;
  }

  .nav-mobile-container.close {
    display: none;
  }
  .nav-mobile-container.open {
    display: block;
    scale: 0;
    animation: showBox 300ms both;
  }

  @keyframes showBox {
    100% {
      scale: 1;
    }
  }
</style>
