.buttonContainer {
  position: relative;
  z-index: 50;

  button {
    cursor: pointer;
    transform: scale(0);
    animation: show-icons 300ms both;
    display: grid;
    place-content: center;

    svg {
      width: 1.5rem;
      fill: var(--color_primary);
    }
  }
}

@keyframes show-icons {
  100% {
    transform: scale(1);
  }
}
