---
interface Props {
  titleSec: string;
  list: Result[];
}

const { titleSec, list } = Astro.props;

// imports
import HeaderSection from "./HeaderSection.astro";
import Button from "../buttons/Button.astro";
import CardMovies from "./CardMovies.astro";
import { type Result } from "../../lib/data/DataTypes";
import "../ui/styles/SectionContainer.css";
---

<section class="section-plantilla">
  <HeaderSection titleSec={titleSec} />
  <div class="container-cards">
    {
      list?.map((movie) => (
        <CardMovies titleCard={movie.title} poster={movie.poster_path} />
      ))
    }
  </div>
  <Button content="cargar más" />
</section>
