---
interface Props {
  titleSec: string;
  list: Result[];
}

const { titleSec, list } = Astro.props;

// imports
import HeaderSection from "./HeaderSection.astro";
import Button from "../buttons/Button.astro";
import CardMovies from "./CardMovies.astro";
import { type Result } from "../../lib/data/DataTypes";
---

<section>
  <HeaderSection titleSec={titleSec} />
  <div class="container-cards">
    <slot />
    {
      list?.map((movie) => (
        <CardMovies titleCard={movie.title} poster={movie.poster_path} />
      ))
    }
  </div>
  <Button content="cargar más" />
</section>

<style>
  section {
    padding-inline: 1rem;

    .container-cards {
      padding-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 0.8rem;
      /* grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); */
    }
  }
</style>
